<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="@ViewBag.Author">
    <meta name="keywords" content="@ViewBag.Tags">

    <title>@ViewBag.Title | ProgrammersBlog</title>

    <!-- Bootstrap core CSS -->
    <link href="~/BlogHome/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BlogHome/css/blog-home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="BlogHome/css/Contact-Page.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <partial name="_MainMenuPartial" />

    <!-- Page Content -->
    <div class="container-fluid">

        <div class="row">

            <!-- Blog Entries Column -->
            @RenderBody()


            <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <!--<footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Tüm Hakları Saklıdır & ProgrammersBlog 2021</p>
        </div>-->
    <!-- /.container -->
    <!--</footer>-->
    <!-- Bootstrap core JavaScript -->
    <script src="~/BlogHome/vendor/jquery/jquery.min.js"></script>
    <script src="~/BlogHome/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", false)
    @await Component.InvokeAsync("NToastNotify")
</body>

</html>
