@using Entities.Concrete
@using Microsoft.Extensions.Options
@inject IOptions<WebsiteInfo> WebsiteInfo
@{
    var websiteInfo = WebsiteInfo.Value;
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@websiteInfo.SeoDescription">
    <meta name="author" content="@websiteInfo.SeoAuthor">
    <meta name="keywords" content="@websiteInfo.SeoTags" />

    <title>@ViewBag.Title | @websiteInfo.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/BlogHome/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BlogHome/css/blog-home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link href="~/BlogHome/css/error-page-bg-animation.css" rel="stylesheet">
</head>

<body class="wrapper">
<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
               @RenderBody()
                </div>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="~/BlogHome/vendor/jquery/jquery.min.js"></script>
<script src="~/BlogHome/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", false)
</body>

</html>
