@using Entities.Dtos
@model ProgrammersBlog.Mvc.Models.ArticleDetailViewModel
@{ Layout = "_ArticleLayout ";
    ViewBag.Title = "Article.Title";
    ViewBag.Description = Model.ArticleDto.Article.SeoDescription;
    ViewBag.Author = Model.ArticleDto.Article.SeoAuthor;
    ViewBag.Tags = Model.ArticleDto.Article.SeoTags; }


<!-- Post Content Column -->
<div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">@Model.ArticleDto.Article.Title</h1>

    <!-- Author -->
    <p class="lead">
        @Model.ArticleDto.Article.User.UserName tarafından @Model.ArticleDto.Article.Date.ToShortDateString() tarihinde paylaşılmıştır.
    </p>


    <hr>

    <!-- Preview Image -->
    <div class="text-center">
        <img class="img-fluid rounded" src="~/img/@Model.ArticleDto.Article.Thumbnail" alt="@Model.ArticleDto.Article.Title">
    </div>
    <hr>

    <!-- Post Content -->
    @Html.Raw(@Model.ArticleDto.Article.Content)

    <hr>

    <p class="text-center">Okunma Sayısı :<span class="badge badge-info">@Model.ArticleDto.Article.ViewsCount</span> Yorum Sayısı: <span class="badge badge-danger">@Model.ArticleDto.Article.CommentCount</span></p>
    <!-- Comments Form -->
    <partial name="~/Views/Comment/_CommentAddPartial.cshtml" model="new CommentAddDto{ArticleId = Model.ArticleDto.Article.Id}" />
    <div id="comments">
        @foreach (var comment in Model.ArticleDto.Article.Comments)
        {<!-- Single Comment -->
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="https://randomuser.me/api/portraits/men/45.jpg" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">@comment.CreatedByName</h5>
                                    @comment.Text
                                </div>
                            </div>}
    </div>
</div>
<partial name="_ArticleDetailRightSideBarPartial" model="@Model.ArticleDetailRightSideBarViewModel" />
@section Scripts
{
    <script src="~/BlogHome/js/articleDetail.js" type="text/ecmascript"></script>
}
